<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'frontpage' %}">
         e-commerce
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main_navbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="main_navbar" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Home
          </a>
    
         
    
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item">
                Contact
              </a>
              
              <a class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>
    
        <div class="navbar-end">
          
            {% for category in menu_cateories %}
             <a href="{% url 'category_detail' category.slug %}" class="navbar-item">{{ category.title }} </a>
            {% endfor %}
            
          </div>
        </div>
      </div>
    </nav>

  <section class="section">
   {% block content %}{% endblock %}
  </section>
<footer class="footer">
  <div class="columns">
    <div class="column is-4">
      <h2 class="subtitle">e-commerce</h2>
    </div>
    <div class="column is-8">
      <a class="navbar-item" href="{% url 'contact' %}">
        contact
      </a>
    </div>
  </div>
</footer>
  </body>
</html>